{{ define "main" }}
<main>
    <div class="container main">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ .Title }}</h1>
                {{ range .Pages }}
                <article>
                    <a href="{{ .Permalink }}"><h3>{{ .LinkTitle }}</h3></a>
                    <p><i class="fas fa-calendar-alt"></i> {{ .Date.Format "02.01.2006" }}</p>
                    {{ .Content }}
                </article>
                {{ end }}
            </div>
        </div>
    </div>
</main>
{{ end }}
